
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1;
}

div.main {
    margin-top:100px;
    text-align: center;
    align-content: center;
}

input {
    font-size: 1em;
    border:1px solid gray;
    border-radius: 2px;
}

input[type=button] {
    font-size: 0.95em;
    width:50px;
    margin-left:5px;
    position: relative;
    top:-1px;
}

input.type_ahead {
    padding-left:10px;
    width:300px;
}

div.type_ahead {
    display: inline-block;
}

ul.suggestions {
    visibility: hidden;
    margin-top: 5px;
    width:352px;
    list-style: none;
    border:1px solid gray;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: left;
    display: inline-block;
}

ul>li {
    color:gray;
}

